<%- include("page") -%>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="w-50 mx-auto">
          <div class="pad">
            <img src="public/icon.png" alt="image">
             <form action="\" method="POST">
                 <input  class="btn btn-outline-dark place" name="place" type="text" placeholder="place">
                 <br>
                 <button  class="btn btn-outline-danger search" name="submit" type="submit" >Search</button>
             </form>
            </div>
             </div>
      </div>
    </div>
</div>
<%- include("end") -%>