<%- include("page") -%>
<div class="container">
    <div class="jumbotron dark">
      <h1>Try Again</h1>      
      <p>sorry, there's some error in find the releated peice of information</p>
      <h4>OR</h4>
      <p>Try searching somethings else</p>
      <form action="/failure" method="post">
      <button class="btn  btn-lg btn-warning">try again</button>
      </form>
  </div>
         
  </div>
<%- include("end") -%>