<%- include("page") -%>
<div class="container-fluid bg-dark text-white top">
    <h1>  Weather Nation</h1>
</div>
<div class="row">
   <div class="w-50 mx-auto">
   <img src="public/icon.png" alt="image">
    <form action="\" method="POST">
        <input  class="btn btn-outline-dark place" name="place" type="text" placeholder="place">
        <br>
        <button  class="btn btn-outline-danger search" name="submit" type="submit" >Search</button>
    </form>
    </div>
</div>
<%- include("end") -%>